*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#122b2b;
    color: white;
    padding: 10% 5%;
}

.container{
    width: 90%;

    /* border: 2px solid white; */
    padding: 25px;
}

.container h1{
    font-size: 50px;
}

.container span{
    color: #019f55;
    padding-bottom: 8px;
    border-bottom: 2px solid #019f55;
    /* border: 2px solid black; */
}

img{
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.display{
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 20px 0px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 5px;
    /* border: 2px solid black; */
}

.display input{
    outline: none;
    border: none;
    font-size: 15px;
    width: 85%;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    background-color: #019f55;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

